<%= form_for [@word], url: words_path(@word) do |f| %>
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :word %>
        <%= f.text_field :word %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :speech_type, "Part of speech (n, adj, v)" %>
        <%= f.text_field :speech_type %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :definition %>
        <%= f.text_field :definition %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :sentence %>
        <%= f.text_field :sentence %>
      </div>
    </div>
  </div>
</div>
<%= f.submit "Submit", class: "waves-green btn-flat" %>
<% end %>
