<!DOCTYPE html>
<html>
<head>
  <title>Testive</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">[test-<em>ive</em>-ocab-<em>u</em>-lary]</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="addWord"><%= link_to "ADD NEW WORD", new_word_path %></li>
        <%- if current_user -%>
          <li class="addWord"><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li class="addWord"><%= link_to 'SIGN UP', new_user_registration_path %></li>
          <li class="addWord"><%= link_to 'LOG IN', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </div>
  </nav>
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
<%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
